parameters:
    level: max
    paths:
        - src/
        - tests/
    doctrine:
        objectManagerLoader: tests/object-manager.php
        allowNullablePropertyForRequiredField: true
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
